.counts {
    background: lightblue;
    color: black;
    border-radius: 5px;
    width: 225px;
    border: solid black 2px;
}

.counts div {
    padding: 8px;
}

.counts span {
    float: right;
}

h3 {
    background-color: lightblue;
    border: solid black 1px;
}