.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: red;
}

table {
  color: #111;
  border: solid black 5px;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 600px;
  background: lightblue;
  display: inline-block;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: orange;
}

